[submodule "xunnel-account"]
	path = xunnel-account
	url = git@git.vauxoo.com:vauxoo/xunnel-account.git
	branch = 11.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 11.0
